@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #2563eb;
    --primary-foreground: #ffffff;
    --secondary: #475569;
    --secondary-foreground: #ffffff;
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
  }
}